@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Pricing</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Pricing" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Add New Price to Service
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered tabletable-striped" style="width:100%">
        <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
    </table>
</div>